/* setting font size and family for whole page */
* {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* adding margins to body */
body {
  /* margin-left: 20px;
  margin-right: 20px; */
  background-color: lightgrey;
}

/* setting the main header size and position */
h1 {
  padding-bottom: 1%;
  font-size: 3em;
  margin-bottom: 1%;
  color: coral;
}

/* setting the subheading size  */
h2 {
  font-size: 2em;
  margin-bottom: 10px;
  padding-right: 20px;
  text-align: right;
  text-decoration: underline;
}

/* setting tag size */
h3 {
  font-size: 1.5em;
}

/* creating flex conainer backgound image and size */
header {
  display: flex;
  padding: 20px;
  background-color: cadetblue;
  color: #fff;
  flex: 0 100%;
  justify-content: space-between;
}

/* setting our main flex container */
main {
 
}

/* defining section flex direction                                                   */
section {
  
}

a {
  border: solid 2px cornflowerblue;
}

  /* difining the nav placement */
  .book {
  
  }

  /* defining bookmark section on left */
  .sectionBookmark {
    
  } 

  /* define flex box for tje bio section */
  .bio {
    border-left: solid 3px cornflowerblue;
  }

  /* main container for the apps defines flex flow */
  .appsContainer {
    border-left: solid 3px cornflowerblue;
  }

  /* makes img look pretty */
  img {
    border: 0;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  /* sets the first app larger than the rest */
  #project1 {
    background-image: url(./assets/images/project1.PNG);
    border: solid 2px cornflowerblue;
  }
 
  /* puts the rest of the apps in rows of 2 */
  .apps {
    border: solid 2px cornflowerblue;
  }

  /* defines the tag text box on the images */
  .tag {
    background-color: cornflowerblue;
  }

  /* setting the background images for the app boxes */
  #rpg {
    background-image: url(./assets/images/rpg.PNG);
    border: solid 2px cornflowerblue;
  }

  /* setting the background images for the app boxes */
  .calc {
    background-image: url("../ARTICLE-calculator-image-680x500.jpg");
  }  

  /* setting the background images for the app boxes */
  .four {
    background-image: url("../ARTICLE-calculator-image-680x500.jpg");
  }

  /* setting the background images for the app boxes */
  .buddy {
    background-image: url("../ARTICLE-calculator-image-680x500.jpg");
  }



  /* defines fles flow of */
  footer {
    /* display: flex;
    justify-content: space-evenly;
    flex: 0 0 64%;
    bottom: 0; */
    background: grey;
    border-left: solid 3px cornflowerblue;
    color: #fff;
    /* margin-top: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 5px; */
  }
  